<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Job Status</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        /* Applying custom colors from the palette */
        .bg-primary { background-color: #f4f4f4; } /* Deep Teal */
        .bg-secondary { background-color: #f4f4f4; } /* Aqua */
        .bg-accent { background-color: #000000; } /* Burnt Orange */
        .text-light { color: #ffffff; } /* Light Aqua */
        .text-dark { color: #000000; } /* Dark Teal */
        .hidden-orders {
            display: none;
        }
    </style>
</head>
<body class="bg-primary font-sans leading-normal tracking-normal text-dark">
    {% if request.session.user_role == "worker" %}
    {% include "worker_navbar.html" %}
    {% elif request.session.user_role == "user" %}
        {% include "user_navbar.html" %}
    {% elif request.session.user_role == "customer" %}
        {% include "user_navbar.html" %}
    {% else %}
        {% include "guest_navbar.html" %}
    {% endif %}


    <div class="container mx-auto p-5">
        <!-- Header -->
        <h1 class="text-3xl font-bold mb-5">Manage Order Status</h1>

        <!-- Filter Form -->
        <div class="filter mb-5">
            <form id="filterForm" method="get" action="{% url 'servicejob_status' %}">
                <label for="status_filter" class="block text-lg font-medium mb-2">Filter by Order Status:</label>
                <select id="status_filter" name="status_filter" class="w-full p-2 border border-gray-300 rounded mt-1">
                    <option value="">-- Select Status --</option>
                    <option value="Waiting for Worker to Depart" {% if status_filter == 'Waiting for Worker to Depart' %}selected{% endif %}>Waiting for Worker to Depart</option>
                    <option value="Worker Arrived at Location" {% if status_filter == 'Worker Arrived at Location' %}selected{% endif %}>Worker Arrived at Location</option>
                    <option value="Service in Progress" {% if status_filter == 'Service in Progress' %}selected{% endif %}>Service in Progress</option>
                    <option value="Completed" {% if status_filter == 'Completed' %}selected{% endif %}>Completed</option>
                    <option value="Canceled" {% if status_filter == 'Canceled' %}selected{% endif %}>Canceled</option>
                </select>
                <button type="submit" class="w-full mt-3 bg-accent text-white py-2 px-4 rounded hover:bg-opacity-90">Filter</button>
            </form>
        </div>

        <!-- Active Orders List -->
        <div id="ordersContainer" class="bg-white shadow-md rounded-md p-5 hidden-orders">
            <h2 class="text-2xl font-semibold mb-4 text-dark">Your Active Jobs</h2>
            <table class="min-w-full bg-white">
                <thead>
                    <tr>
                        <th class="py-2 px-4 border-b border-gray-200 bg-black text-left text-sm leading-4 font-medium text-white uppercase tracking-wider">Order Date</th>
                        <th class="py-2 px-4 border-b border-gray-200 bg-black text-left text-sm leading-4 font-medium text-white uppercase tracking-wider">Service Date</th>
                        <th class="py-2 px-4 border-b border-gray-200 bg-black text-left text-sm leading-4 font-medium text-white uppercase tracking-wider">Service Subcategory</th>
                        <th class="py-2 px-4 border-b border-gray-200 bg-black text-left text-sm leading-4 font-medium text-white uppercase tracking-wider">User Name</th>
                        <th class="py-2 px-4 border-b border-gray-200 bg-black text-left text-sm leading-4 font-medium text-white uppercase tracking-wider">Session</th>
                        <th class="py-2 px-4 border-b border-gray-200 bg-black text-left text-sm leading-4 font-medium text-white uppercase tracking-wider">Current Status</th>
                        <th class="py-2 px-4 border-b border-gray-200 bg-black text-left text-sm leading-4 font-medium text-white uppercase tracking-wider">Session Price</th>
                        <th class="py-2 px-4 border-b border-gray-200 bg-black text-left text-sm leading-4 font-medium text-white uppercase tracking-wider">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td class="py-2 px-4 border-b border-gray-200">{{ order.2 }}</td>
                            <td class="py-2 px-4 border-b border-gray-200">{{ order.3 }}</td>
                            <td class="py-2 px-4 border-b border-gray-200">{{ order.0 }}</td>
                            <td class="py-2 px-4 border-b border-gray-200">{{ order.1 }}</td>
                            <td class="py-2 px-4 border-b border-gray-200">{{ order.4 }}</td>
                            <td class="py-2 px-4 border-b border-gray-200">{{ order.5 }}</td>
                            <td class="py-2 px-4 border-b border-gray-200">${{ order.6 }}</td>
                            <td class="py-2 px-4 border-b border-gray-200">
                                {% if order.5 == 'Waiting for Worker to Depart' %}
                                    <form method="post" action="{% url 'service_job_status' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="order_id" value="{{ order.7 }}">
                                        <input type="hidden" name="next_status" value="Worker Arrived at Location">
                                        <button type="submit" class="bg-accent text-white py-2 px-4 rounded hover:bg-opacity-90">Arrived at Location</button>
                                    </form>
                                {% elif order.5 == 'Worker Arrived at Location' %}
                                    <form method="post" action="{% url 'service_job_status' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="order_id" value="{{ order.7 }}">
                                        <input type="hidden" name="next_status" value="Service in Progress">
                                        <button type="submit" class="bg-accent text-white py-2 px-4 rounded hover:bg-opacity-90">Providing Service</button>
                                    </form>
                                {% elif order.5 == 'Service in Progress' %}
                                    <form method="post" action="{% url 'service_job_status' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="order_id" value="{{ order.7 }}">
                                        <input type="hidden" name="next_status" value="Completed">
                                        <button type="submit" class="bg-accent text-white py-2 px-4 rounded hover:bg-opacity-90">Service Completed</button>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>                
            </table>
        </div>        
    </div>

    <script>
        document.getElementById('filterForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const form = event.target;
            const formData = new FormData(form);
            const params = new URLSearchParams(formData).toString();

            fetch(`?${params}`, {
                method: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.text())
            .then(html => {
                const parser = new DOMParser();
                const doc = parser.parseFromString(html, 'text/html');
                const newOrdersContainer = doc.getElementById('ordersContainer');
                document.getElementById('ordersContainer').innerHTML = newOrdersContainer.innerHTML;
                // Tampilkan Active Jobs Status
                ordersContainer.classList.remove('hidden-orders');
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>