<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 font-sans">
  {% include 'guest_navbar.html' %}

  <div class="min-h-screen flex flex-col justify-center items-center bg-gray-100">
    <h2 class="text-2xl font-bold mb-6">Login</h2>
    <form action="{% url 'login' %}" method="POST" class="w-full max-w-md bg-white p-6 rounded-md shadow-lg">
      {% csrf_token %}
      <div class="mb-4">
        <label for="phone-number" class="block text-gray-700 font-semibold mb-2">Phone Number:</label>
        <input 
          type="text" 
          id="phone-number" 
          name="phone_number" 
          class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-300" 
          required>
      </div>
      <div class="mb-6">
        <label for="password" class="block text-gray-700 font-semibold mb-2">Password:</label>
        <input 
          type="password" 
          id="password" 
          name="password" 
          class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-300" 
          required>
      </div>
      <button 
        type="submit" 
        class="w-full bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700">
        Login
      </button>
    </form>
    <p class="mt-4">
      Don't have an account? <a href="{% url 'register' %}" class="text-blue-600 hover:underline">Register</a>
    </p>
  </div>

</body>
</html>
